/* imageModal.css */

.custom-modal {
  position: relative;

  width: 90vw;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

}


.modal-content img {
object-fit: contain;
object-position: center;
max-height: 80vh;
}

.button-modal {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-modal:hover {
  background-color: #555;
}
