/* styles/ReviewsSlider.css */
.carousel {
  position: absolute;
  width: 70vw;
  margin: auto;
  margin-top: 40vh;
  margin-bottom: 20vh;
}
.carousel-cell {
  height: auto;
  width: 100%;
  margin-right: 10px;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.parrafo-r {
  display: block;
  width: 70%;
  text-align: center;
  line-height: 1.5;
  font-size: 2vw;
  padding-top: 2vh;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.firma-r {
  text-align: center;
  font-style: italic;
  color: brown;
  padding-top: 2vh;
  font-size: 3vw;
  padding-bottom: 1vh;
  text-shadow: 1px 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* Cambiar el color del indicador no seleccionado */
.flickity-page-dot {
  background: white !important; /* Puedes ajustar este color según tu diseño */
  opacity: 0.4;
}

/* Cambiar el color del indicador seleccionado */
.flickity-page-dot.is-selected {
  background: rgb(
    177,
    0,
    0
  ) !important; /* Puedes ajustar este color según tu diseño */
  opacity: 1 !important;
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .s4-img {
    height: 40vh;
    margin-top: 49vh;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1200px) {
  .s4-img {
    height: 40vh;
    margin-top: 49vh;
    max-width: 100%;
  }
  .parrafo-r {
    font-size: 4vw;
  }
  .carousel {
    height: 45vh;
    width: 100vw;
  }
  .flickity-viewport {
    height: 45vh !important;
  }
  .firma-r {
    font-size: 7vw;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .s4-img {
    height: 20vh;
    margin-top: 48vh;
    max-width: 120vw;
    width: 120vw !important;
  }
  .parrafo-r {
    font-size: 6vw;
    width: 100%;
  }
  .carousel {
    height: 45vh;
    width: 100vw;
    margin-top: 30vh;
  }
  .flickity-viewport {
    height: 45vh !important;
  }
  .firma-r {
    font-size: 9vw;
  }
}
