.slider {
  height: auto;
  margin-top: -5vh !important;
  margin-bottom: -5vh !important;
}
.slider h1 {
  margin-top: 2vh;
  padding-left: 5vw;
  padding-right: 2vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
  font-size: 3.4vw;
  font-weight: 600;
  text-align: left;
  color: rgb(226, 226, 226);
  background-color: rgb(40, 40, 40);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.502);
  margin-bottom: 4vh;
}
.second-tittle{
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  margin-bottom: 4vh;

}


.slider p {
  padding-left: 5vw;
  padding-right: 2vw;
  padding-bottom: 1vh;
  text-align: left;
  font-weight: 500;
  font-size: 1.5vw;
  color: rgb(35, 35, 35);
  line-height: 4.4rem;
}
.text-side {
  padding-top: 7vh;

  height: auto;
  margin-bottom: 15vh;
}
.text-side2 {
  padding-top: 7vh;
  padding-bottom: 5vh;
  height: auto;
  margin-bottom: 15vh;
}
.text-side3 {
  padding-top: 7vh;
  height: auto;
 margin-bottom: 8vh;
}
.slider-container-img {
  display: block;
  margin-bottom: 10vh;
}
.slider-container-img2 {
  display: block;
  margin-bottom: 10vh;

 
}
.slider-container-img3 {
  display: block;

}
.btn-father {
  text-align: right;
  margin-bottom: 5rem!important;
  z-index: 3;
}
.boton {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  text-align: center;
}
.boton-i {

  border: none;
  z-index: 1;
  font-size: 3vw;
  color: #1c1c1c;
}
.hide {
  opacity: 0;
}
.img-slider {
  height: 100%;
  width: 80% !important;
  object-fit: cover !important;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.502);
  border-radius: 10px;
  margin-left: 10%;
  margin-right: 10%;
}
.img-slider2 {
  height: 100%;
  width: 80% !important;
  object-fit: cover !important;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.502);
  border-radius: 10px;
margin-left: 10%;
  margin-right: 10%;
}
.img-slider3 {
  height: 100%;
  width: 80% !important;
  object-fit: cover !important;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.502);
  border-radius: 10px;
  margin-left: 10%;
  margin-right: 10%;
}
.button-slider {
  display: inline-block;
  margin-left: 5vw;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(238, 238, 238);
  font-weight: 600;
  font-size: 1.5vw;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
}
.button-slider:hover {
  box-shadow: 0 0 10px rgb(0, 0, 0);
  transform: translateX(17px);
  color: rgb(227, 227, 227);
  border: 3px solid rgb(224, 224, 224);
  background-color: rgb(26, 26, 26);
}

.slider {
  transition: opacity 0.1s ease; /* Tiempo de transición y función de aceleración */
}

.visible {
  opacity: 1;
}

.slider:not(.visible) {
  opacity: 0;
}


/* Desktop */
@media (min-width: 1200px) and (max-width: 1440px) {
  .slider {
    height: 100%;
    margin-top: -5vh !important;
    margin-bottom: -5vh !important;
  }
  .slider h1 {
    padding-left: 3.5rem;
    padding-right: 1.5rem;
    padding-top: 1vh;
    padding-bottom: 2vh;
    font-size: 4vw;
  }
  .slider p {
    padding-left: 3.5rem;
    padding-right: 3rem;
    padding-bottom: 2vh;
    font-size: 1.8vw;
    line-height: 3rem;
  }
  .text-side {
    padding-top: 7vh;
    padding-bottom: 5vh;
    height: 80vh;
  }
  .button-slider {
    margin-left: 3.5rem !important;
    font-size: 1.8vw;
  }
  .second-tittle{
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    margin-bottom: 4vh;
  
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1200px) {
  .slider h1 {
    padding-left: 3.5rem;
    padding-right: 1.5rem;
    padding-top: 0vh;
    padding-bottom: 2vh;
    font-size: 5vw;
  }
  .slider p {
    padding-left: 3.5rem;
    padding-right: 3rem;
    padding-bottom: 0vh;
    font-size: 2.1vw;
    line-height: 2.4rem;
  }
  .text-side {
    padding-top: 7vh;
    padding-bottom: 5vh;
    height: 83vh;
  }
  .button-slider {
    margin-left: 3.5rem !important;
    font-size: 1.8vw;
  }
  .img-slider {
    width: 90% !important;
  }
  .second-tittle{
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    margin-bottom: 4vh;
  
  }
}

/* Mobile */
@media (max-width: 700px) {
  .row {
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0 !important;
  }
  .slider-container-img {
    display: none;
  }
  .slider-container-img2 {
    display: none;
  }
  .slider-container-img3 {
    display: none;
  }
  .button-slider {
    margin-left: 2rem !important;
    font-size: 4vw;
  }
  .slider h1 {
    padding-left: 2rem;
    padding-right: 0rem;
    padding-bottom: 3vh;
    font-size: 8vw;
    margin-top: 1.5rem !important;
    margin-bottom: 3vh;
  }
  .second-tittle{
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    margin-bottom: 4vh;
    margin-left:1rem;
    padding-left: 1rem !important;
    padding-right: 2rem !important;  
  }
  .second-btn{
    margin-left: 8vw!important;
  }

  .slider p {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1.4vh;
    font-size: 4vw;
    line-height: 2.4rem;
  }
  .text-side {
    padding-top: 7vh;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .text-side2 {
    padding-top: 7vh;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .button-slider {
    margin-left: 2rem !important;
    font-size: 4vw;
  }
  .img-slider {
    width: 90% !important;
  }
  .boton-i {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    z-index: 1;
    font-size: 6vw;
    color: #1a1a1a;
  }
  .interlude-tittle {
    margin-top: 0;
    font-size: 7vw !important;
    padding-left: 5%;
    padding-right: 5%;
  }
  .interlude-tittle-2 {
    margin-top: 0;
    font-size: 5.8vw !important;
    padding-left: 10%;
    padding-right: 10%;
  }
}
