.slider {
  height: auto;
}
.slider h1 {
  padding-left: 5vw;
  padding-right: 2vw;
  font-size: 3.5vw;
  font-weight: 900;
  padding-bottom: 3vh;
  text-align: left;
  color: rgb(26, 26, 26)
}
.slider p {
  padding-left: 5vw;
  padding-right: 2vw;
  text-align: left;
  font-weight: 500;
  padding-bottom: 3vh;
  font-size: 1.5vw;
  color: rgb(222, 222, 222);
  line-height: 4.4rem;
}
.text-side {
  padding-top: 7vh;
  padding-bottom: 5vh;
  height: 70vh;
}
.btn-father {
  text-align: right;
}
.boton {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  text-align: center;
}
.boton-i {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  z-index: 1;
  font-size: 3vw;
  color: #ffffff;
}
.hide {
  opacity: 0;
}
.img-slider-1 {
  height: 70vh;
  background-image: url("https://res.cloudinary.com/dsbp8pqdb/image/upload/v1692452581/da-paolo/da-paolo_a8vlnb_lzbanh.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.502);
  transform: rotate(-90deg) translateX(-5vh);
}
.img-slider-2 {
  height: 70vh;
  background-image: url("https://res.cloudinary.com/dsbp8pqdb/image/upload/v1692452534/da-paolo/pexels-monica-turlui-7218637_oksmgz_naidov.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.502);
  transform: rotate(-90deg) translateX(-5vh);
}
.img-slider-3 {
  height: 70vh;
  background-image: url("https://res.cloudinary.com/dsbp8pqdb/image/upload/v1692452580/da-paolo/pexels-fauxels-3184193_fbdwn3_cvrffi.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.502);
  transform: rotate(-90deg) translateX(-5vh);
}
.button-slider {
  display: inline-block;
  margin-left: 5vw;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(222, 222, 222);
  font-weight: 600;
  font-size: 1.5vw;
  transition: transform 0.3s ease-in-out;
}
.button-slider:hover {
  box-shadow: 0 0 10px rgb(0, 0, 0);
  transform: translateX(17px); 
  color: rgb(227, 227, 227);
  border: 3px solid rgb(224, 224, 224);
  background-color: rgb(26, 26, 26);
}
