

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', cursive;
}
.poppins{
  font-family: 'Poppins', cursive !important;
}
.merri{
  font-family: 'Merriweather', serif;
}
body {
  font-family: 'Merriweather', serif;
}
.myrow {
  display: flex;
  flex-wrap: wrap;
}
.row {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
}
body {
  cursor: default;
}
p {
  font-family: var(--font-lato);
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(19, 19, 19);
  border-radius: 5px !important;
}


::-webkit-scrollbar-thumb:hover {
  background-color: rgb(35, 35, 35);
  border-radius: 5px !important;
}


::-webkit-scrollbar-track {
  background-color: #f1f1f100;
}


::-webkit-scrollbar-track:hover {
  background-color: #dddddd00;
}
