body {
  margin: 0;
}
.myrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
#header1 {
  background-image: linear-gradient(to bottom, #6a0000c2, #190a05);
}
#interlude1 {
  background: linear-gradient(to bottom, black, rgb(0, 0, 0), black);
}

/* TODOS LOS JARALLAX --------------------------------------TODOS LOS JARALLAX-------------------------------TODOS LOS JARALLAX------------------------------------TODOS LOS JARALLAX--------------------------------- */
.jarallax {
  position: relative;
  z-index: 0;
  height: 100vh; /* o la altura que desees */
  overflow: hidden;
}
.jarallax-img {
  position: absolute;
  object-fit: cover;
  filter: grayscale(1);
  opacity: 0.5;
  filter: brightness(100%) sepia(0%) hue-rotate(0deg);
}
.jarallax-img.animated-img {
  opacity: 0;
  transition: opacity 0.5s;
}

.jarallax-img.animated-img.is-visible {
  opacity: 0.5;
}
.animated-img {
  animation: zoomAndTurnRed 20s infinite;
}
.j2-filter {
  filter: brightness(80%) sepia(100%) hue-rotate(-25deg) blur(5px);
}
.jarallax2 {
  position: relative;
  z-index: 0;
  height: 100vh; /* o la altura que desees */
  overflow: hidden;
}
.vh30 {
  height: 30vh !important;
}
/* ANIMACIONES --------------------------------------ANIMACIONES-------------------------------ANIMACIONES------------------------------------ANIMACIONES--------------------------------- */
@keyframes expandFromCenter {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes zoomAndTurnRed {
  0% {
    transform: scale(1);
    filter: brightness(100%) sepia(0%) hue-rotate(0deg);
  }
  10% {
    transform: scale(1.3);
    filter: brightness(100%) sepia(100%) hue-rotate(-25deg);
  }
  70% {
    transform: scale(1.3); /* Zoom */
    filter: brightness(120%) sepia(100%) hue-rotate(-25deg); /* Efecto rojo */
  }
  100% {
    transform: scale(1);
    filter: brightness(100%) sepia(0%) hue-rotate(0deg);
  }
}

.sucio {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.logo-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1; /* Para asegurarte de que el logo esté por encima del fondo parallax */
}
.logo-header {
  top: 50%;
  left: 50%;
  z-index: 1;
  position: absolute;
  object-fit: contain;
  width: 50%;
  height: 50%;
  filter: invert(1) brightness(90%);
  opacity: 1;
  animation: expandFromCenter 1s forwards;
}

.arrow-icon {
  position: absolute;
  bottom: 4vh; /* Ajusta esta distancia si quieres que esté más cerca o lejos del borde inferior */
  left: 50%; /* Esto coloca el punto de partida del ícono en el centro horizontal de la página */
  transform: translateX(
    -50%
  ); /* Esto desplaza el ícono hacia la izquierda en la mitad de su propio ancho, centrándolo perfectamente */
  z-index: 2;
  color: white;
  font-size: 2vw;
}

.imagen-abajo {
  position: absolute;
  bottom: 0; /* Esto alinea la imagen en la parte inferior del contenedor .jarallax */
  left: 0; /* Alinea la imagen a la izquierda del contenedor */
  width: 100%; /* Asegura que la imagen ocupe el ancho completo del contenedor */
  height: 3%; /* Permite que la imagen determine su propia altura basada en el ancho */
  object-position: center bottom; /* Centra la imagen y la alinea con el borde inferior */
  filter: brightness(98%);
}
.section1 {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.sucio2 {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.fondo-letras {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.05;
  font-size: 40vw;
  line-height: 0.9;
}
.section1-content {
  padding-top: 6vh;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}
.section1-text {
  padding-left: 20vw;
}
.tittle1 {
  color: rgb(0, 0, 0);
  font-size: 3vw;
  text-align: center;
  white-space: nowrap; /* Esto evitará que el texto se parta */
  width: max-content; /* Esto hará que el contenedor tenga el ancho exacto del contenido */

  &::before {
    content: attr(data-text);
    padding-left: 20vw;
    position: absolute;
    padding-top: 6vh;
    top: 2px;
    left: 2px;
    color: rgba(116, 0, 0, 0.402);
    z-index: -1;
    white-space: nowrap; /* Evitar que se parta el texto en el pseudo-elemento */
  }
}
.tittle2 {
  padding-top: 2vh;
  font-size: 1.5vw;
  color: rgb(116, 0, 0);
}
.parrafo1 {
  line-height: 1.5;
  font-size: 1vw;
  padding-top: 2vh;
}
.firma {
  font-style: italic;
  color: brown;
  padding-top: 2vh;
  text-align: left;
  font-size: 3vw;
  padding-bottom: 5vh;
}
.section1-img {
  position: relative;
}
.maquina {
  margin-top: 5vh;
  margin-left: 15%;
  position: absolute;
  object-fit: contain;
  width: 50%;
  height: auto;
  z-index: 2;
}
.tinta1 {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: scale(1);
  z-index: 0;
  opacity: 0.1;
  right: 0;
  top: -60%;
}

br {
  margin: 2vh 0;
  display: block;
  content: "";
  margin-top: 0.5em;
}
.interlude1 {
  background: linear-gradient(to bottom, black, red, black);
}

.imagen-arriba2 {
  position: absolute;
  bottom: 100; /* Esto alinea la imagen en la parte inferior del contenedor .jarallax */
  left: 0; /* Alinea la imagen a la izquierda del contenedor */
  width: 100%; /* Asegura que la imagen ocupe el ancho completo del contenedor */
  height: 13%; /* Permite que la imagen determine su propia altura basada en el ancho */
  object-position: center bottom; /* Centra la imagen y la alinea con el borde inferior */
  filter: brightness(170%);
  z-index: 1;
}
.imagen-abajo2 {
  position: absolute;
  bottom: 0; /* Esto alinea la imagen en la parte inferior del contenedor .jarallax */
  left: 0; /* Alinea la imagen a la izquierda del contenedor */
  width: 100%; /* Asegura que la imagen ocupe el ancho completo del contenedor */
  height: 13%; /* Permite que la imagen determine su propia altura basada en el ancho */
  object-position: center bottom; /* Centra la imagen y la alinea con el borde inferior */
  filter: brightness(98%);
  z-index: 1;
}

.interlude-tittle {
  font-size: 4vw;
  color: rgb(212, 212, 212);
  text-align: center;
  display: flex;
  justify-content: center; /* Centrar horizontalmente (opcional) */
  align-items: center; /* Centrar verticalmente */
  height: 100%;
  z-index: 2;
  &::before {
    content: attr(data-text);

    position: absolute;
    transform: translate(-50%, -50%);
    top: 51.7%;
    left: 50.3%;
    color: rgb(116, 0, 0);
    z-index: -1;
    white-space: nowrap; /* Evitar que se parta el texto en el pseudo-elemento */
  }
}
.section2 {
  background-color: white;
  height: 150vh;
  position: relative;
}
.s2head {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.s2-img {
  width: 100%;
  height: 40vh;
  max-width: 80%;
  position: absolute;
  margin-top: 40vh;
}

.s2tittle {
  position: absolute;
  margin-top: 39vh;
  z-index: 1; /* Esto asegura que el texto esté por encima de la imagen */
  color: rgb(36, 36, 36); /* Cambia el color según tu diseño */
  font-size: 3vw;
  text-align: center;
  width: 100%; /* Asegura que el texto ocupe todo el ancho y se centre adecuadamente */
  &::before {
    content: attr(data-text);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 52.7%;
    left: 50.1%;
    color: rgb(116, 0, 0);
    z-index: -1;
    white-space: nowrap; /* Evitar que se parta el texto en el pseudo-elemento */
  }
}

.section3 {
  height: auto;
  background-color: rgb(23, 23, 23);
  position: relative;
  overflow: hidden;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.sucio3 {
  position: absolute;
  width: 100%;
  height: 140%;
  opacity: 0.3;
  margin-top: -2vh;
}
.salpicon-arriba2 {
  position: absolute;
  bottom: 100;
  left: 0;
  width: 100%;
  height: 13%;
  object-position: center bottom;
  opacity: 1;
  z-index: 1;
  filter: invert(1) brightness(9%);
}
.salpicon-abajo2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 13%;
  object-position: center bottom;
  opacity: 0.91;
  z-index: 1;
}
.section4 {
  position: relative;
  overflow: hidden;
  background-color: black;
}

.s4head {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.s4-img {
  width: 100%;
  height: 30vh;
  max-width: 50%;
  position: absolute;
  margin-top: 50vh;
  opacity: 1;
  filter: invert(1);
}

.s4tittle {
  position: absolute;
  margin-top: 49vh;
  z-index: 1; /* Esto asegura que el texto esté por encima de la imagen */
  color: rgb(240, 240, 240); /* Cambia el color según tu diseño */
  font-size: 3vw;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 100%; /* Asegura que el texto ocupe todo el ancho y se centre adecuadamente */
  &::before {
    content: attr(data-text);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 52.7%;
    left: 50.1%;
    color: rgb(116, 0, 0);
    z-index: -1;
    white-space: nowrap; /* Evitar que se parta el texto en el pseudo-elemento */
  }
}
.studiofuera {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  filter: brightness(60%) blur(5px);
}
.imagen-abajo3 {
  position: absolute;
  bottom: 0; /* Esto alinea la imagen en la parte inferior del contenedor .jarallax */
  left: 0; /* Alinea la imagen a la izquierda del contenedor */
  width: 100%; /* Asegura que la imagen ocupe el ancho completo del contenedor */
  height: 13%; /* Permite que la imagen determine su propia altura basada en el ancho */
  object-position: center bottom; /* Centra la imagen y la alinea con el borde inferior */
  filter: brightness(98%) invert(1);
  z-index: 1;
}
.contacto {
  background-color: #161616;
  height: auto;
  position: relative;
}
.suciosb {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .section1-text {
    padding-left: 10vw;
  }
  .maquina {
    width: 60%;
  }
  .tittle1 {
    font-size: 4vw;
    &::before {
      content: attr(data-text);
      padding-left: 10vw;
    }
  }
  .tittle2 {
    font-size: 2vw;
  }
  .parrafo1 {
    font-size: 1.5vw;
  }
  .section2 {
    height: 160vh;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1200px) {
  .section1-text {
    padding-left: 5vw;
  }
  .maquina {
    margin-left: 5vw;
    margin-top: 10vh;
    width: 80%;
  }
  .tittle1 {
    font-size: 6vw;
    &::before {
      content: attr(data-text);
      padding-left: 5vw;
    }
  }
  .tittle2 {
    font-size: 3vw;
  }
  .parrafo1 {
    font-size: 2.1vw;
  }
  .section2 {
    height: 160vh;
  }
  .firma {
    font-size: 4vw;
  }
  .s2tittle {
    font-size: 5.6vw;
  }
  .s2-img {
    object-fit: cover;
    height: 25vh;
    width: 100%;
    max-width: 100%;
  }
  .salpicon-abajo2 {
    margin-bottom: -1px;
  }
  .s4tittle {
    margin-top: 48vh;
    font-size: 6vw;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .logo-header {
    width: 70%;
    height: 70%;
  }
  .section1-text {
    padding-left: 5vw;
    width: 100% !important;
  }
  .section1-img {
    position: absolute;
    height: 100vh;
  }
  .maquina {
    display: none;
  }
  .tinta1 {
    top: -30%;
    right: -100%;
  }
  .tittle1 {
    font-size: 8vw;
    &::before {
      content: attr(data-text);
      padding-left: 5vw;
    }
  }
  .tittle2 {
    font-size: 5vw;
  }
  .parrafo1 {
    padding-right: 5vw;
    font-size: 4vw;
  }
  .section2 {
    height: 108vh;
  }
  .firma {
    font-size: 8vw;
  }
  .s2tittle {
    display: none !important;
    color: rgb(0, 0, 0);
    font-size: 8.6vw;
    text-align: center;
    margin-top: 20vh;
    white-space: nowrap; /* Esto evitará que el texto se parta */
    width: max-content; /* Esto hará que el contenedor tenga el ancho exacto del contenido */

    &::before {
      content: attr(data-text);
      position: absolute;
      
      top: 55%;
      left: 50.5%;
      color: rgba(116, 0, 0, 0.402);
      z-index: -1;
      white-space: nowrap; /* Evitar que se parta el texto en el pseudo-elemento */
    }
  }
  .s2-img {
    display: none;
  }
  .salpicon-abajo2 {
    margin-bottom: -1px;
  }
  .s4tittle {
    margin-top: 48vh;
    font-size: 7vw;
  }
  .arrow-icon{
    font-size: 10vw;
  }
}
