body {
  margin: 0;

}
.myrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
header{
  background-image: linear-gradient(to bottom, #6a0000c2, #190a05);
}
.jarallax {
  position: relative;
  z-index: 0;
  height: 100vh; /* o la altura que desees */
  overflow: hidden;
}

.jarallax-img {
  position: absolute;
  object-fit: cover;
  filter: grayscale(1);
  opacity: 0.5;
  animation: zoomAndTurnRed 20s infinite;
}
@keyframes zoomAndTurnRed {
  0% {
    transform: scale(1);
    filter: brightness(100%) sepia(0%) hue-rotate(0deg);
  }
  10% {
    transform: scale(1);
    filter: brightness(100%) sepia(100%) hue-rotate(-25deg);
  }
  70% {
    transform: scale(1.1); /* Zoom */
    filter: brightness(120%) sepia(100%) hue-rotate(-25deg); /* Efecto rojo */
  }
  100% {
    transform: scale(1);
    filter: brightness(100%) sepia(0%) hue-rotate(0deg);
  }
}
.sucio {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.logo-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1; /* Para asegurarte de que el logo esté por encima del fondo parallax */
}
.logo-header {
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Asegura que el logo esté verdaderamente centrado */
  z-index: 1;
  position: absolute;
  object-fit: contain;
  width: 50%;
  height: 50%;
  filter: invert(1) brightness(90%);
  opacity: 1;
}
.arrow-icon {
  position: absolute;
  bottom: 4vh; /* Ajusta esta distancia si quieres que esté más cerca o lejos del borde inferior */
  left: 50%; /* Esto coloca el punto de partida del ícono en el centro horizontal de la página */
  transform: translateX(
    -50%
  ); /* Esto desplaza el ícono hacia la izquierda en la mitad de su propio ancho, centrándolo perfectamente */
  z-index: 2;
  color: white;
  font-size: 2vw;
}

.imagen-abajo {
  position: absolute;
  bottom: 0; /* Esto alinea la imagen en la parte inferior del contenedor .jarallax */
  left: 0; /* Alinea la imagen a la izquierda del contenedor */
  width: 100%; /* Asegura que la imagen ocupe el ancho completo del contenedor */
  height: 3%; /* Permite que la imagen determine su propia altura basada en el ancho */
  object-position: center bottom; /* Centra la imagen y la alinea con el borde inferior */
filter: brightness(98%);
}
.section1 {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.sucio2 {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.fondo-letras {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.05;
  font-size: 40vw;
  line-height: 0.9;

}
.section1-content {
  padding-top: 6vh;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}
.section1-text {
  padding-left: 20vw;
}
.tittle1 {
  color: rgb(0, 0, 0);
  font-size: 3vw;
  text-align: center;
  white-space: nowrap; /* Esto evitará que el texto se parta */
  width: max-content; /* Esto hará que el contenedor tenga el ancho exacto del contenido */

  &::before {
    content: attr(data-text);
    padding-left: 20vw;
    position: absolute;
    padding-top: 6vh;
    top: 2px;
    left: 2px;
    color: rgba(116, 0, 0, 0.402);
    z-index: -1;
    white-space: nowrap; /* Evitar que se parta el texto en el pseudo-elemento */
  }
}
.tittle2 {
  padding-top: 2vh;
  font-size: 1.5vw;
  color: rgb(116, 0, 0);
}
.parrafo1 {
  line-height: 1.5;
  font-size: 1vw;
  padding-top: 2vh;
}
.firma {
  font-style: italic;
  color: brown;
  padding-top: 2vh;
  text-align: left;
  font-size: 3vw;
   padding-bottom: 5vh; 
}
.section1-img {
  position: relative;
}
.maquina {
  margin-top: 5vh;
  margin-left: 15%;
  position: absolute;
  object-fit: contain;
  width: 50%;
  height: auto;
  z-index: 2;
}
.tinta1 {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: scale(1);
  z-index: 0;
  opacity: 0.1;
  right:0;
  top: -60%;
}

br {
  margin: 2vh 0;
  display: block;
  content: "";
  margin-top: 0.5em;
}
.interlude1 {
  background-image: linear-gradient(to top, #870000, #190a05);
}
.jarallax2 {
  position: relative;
  z-index: 0;
  height: 40vh; /* o la altura que desees */
  overflow: hidden;
  background-image: linear-gradient(to top, #870000, #190a05);
}

.jarallax2-img {
  position: absolute;
  object-fit: cover;
  filter: grayscale(1);
  opacity: 0.5;
  filter: brightness(80%) sepia(100%) hue-rotate(-25deg) blur(5px);
}
.imagen-arriba2 {
  position: absolute;
  bottom: 100; /* Esto alinea la imagen en la parte inferior del contenedor .jarallax */
  left: 0; /* Alinea la imagen a la izquierda del contenedor */
  width: 100%; /* Asegura que la imagen ocupe el ancho completo del contenedor */
  height: 13%; /* Permite que la imagen determine su propia altura basada en el ancho */
  object-position: center bottom; /* Centra la imagen y la alinea con el borde inferior */
  filter: brightness(170%);
  z-index: 1;
}
.imagen-abajo2 {
  position: absolute;
  bottom: 0; /* Esto alinea la imagen en la parte inferior del contenedor .jarallax */
  left: 0; /* Alinea la imagen a la izquierda del contenedor */
  width: 100%; /* Asegura que la imagen ocupe el ancho completo del contenedor */
  height: 13%; /* Permite que la imagen determine su propia altura basada en el ancho */
  object-position: center bottom; /* Centra la imagen y la alinea con el borde inferior */
  filter: brightness(170%);
  z-index: 1;
}
.interlude-tittle{
  font-size: 4vw;
  color: rgb(212, 212, 212);
  text-align: center;
  display: flex;
  justify-content: center; /* Centrar horizontalmente (opcional) */
  align-items: center;     /* Centrar verticalmente */
  height: 100%;
  z-index: 2;
  &::before {
    content: attr(data-text);
 
    position: absolute;
    transform: translate(
      -50%,
      -50%
    );
    top: 51.7%;
    left: 50.3%;
    color: rgb(116, 0, 0);
    z-index: -1;
    white-space: nowrap; /* Evitar que se parta el texto en el pseudo-elemento */
  }   
}
.section2 {
  background-color: white;
  height: 70vh;
}
