.footer {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  height: auto;
  padding-top: 3vh;
  padding-bottom:5vh;
}
.description {
  display: block;
  color: white;
  padding-left: 1vw;
  padding-right: 1vw;
}
.contacts {
  display: flex;
  color: white;
  padding-left: 8.5vw;
  flex-direction: column;

}
.enlaces {
  text-decoration: none;
  color: rgb(232, 232, 232);
  font-size: 1vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding-bottom: 2vh;
}
.socialmedia {
  display: flex;
  color: white;
  padding-left: 3vw;
  padding-right: 3vw;
  flex-wrap: wrap;
}
.icons {
  text-align: left;
  font-size: 3vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: rgb(232, 232, 232);
  padding-top: 0;
}
.redfont {
  color: rgb(130, 0, 0);
  font-size: 2.3vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.parrafo-f {
  color: rgb(232, 232, 232);
  font-size: 1vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
