.animated-div-up {
  transition: transform 0.5s cubic-bezier(0, 0, 0.27, 1), opacity 0.2s ease-in;
  transform: translateY(3vh);
  opacity: 0;
}

.entering-view-up {
  opacity: 1 !important;
  transform: translateY(0) !important;
}




.animated-div-left {
  transition: transform 0.5s cubic-bezier(0, 0, 0.27, 1), opacity 0.5s ease-in;
  transform: translateX(-3vh);
  opacity: 0;
}

.entering-view-left {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.animated-div-right {
  transition: transform 0.5s cubic-bezier(0, 0, 0.27, 1), opacity 0.5s ease-in;
  transform: translateX(3vh);
  opacity: 0;
}

.entering-view-right {
  opacity: 1 !important;
  transform: translateX(0) !important;
}
