.myrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.gallery{
  height: 70vh;
}
.main-img-container{
  height: 50vh;
  position: relative;
}
.main-img{
  object-fit: cover;
  object-position: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.502);
}

.all-img-container{
  height: auto;
}

.img {
  margin: 1vh;
  height: 20vh;
  border-radius: 4px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.502);
  transition: transform 0.3s ease;
}

.img:hover {
  transform: translateY(-1vh);
  opacity: 0.8;
}

.btn-father {
  text-align: center;

  z-index: 3;
}
.boton-i {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  z-index: 1;
  font-size: 8vw;
  color: #ffffff;
}
/* Desktop */
@media (min-width: 1200px) and (max-width: 1440px) {
  .header-tittle-l {
    font-size: 10vw !important;
  }
  .header-h2-l {
    font-size: 4vw !important;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1200px) {
  .header-tittle-l {
    font-size: 12vw !important;
  }
  .header-h2-l {
    font-size: 3vw !important;
  }
}

/* Mobile */
@media (max-width: 700px) {
 .img{
  height:15vh
 }
 .mb-5 {
  margin-bottom: 1rem !important;
 }
  
}
